{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Come In!
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <div>
    <nav id="comeNav" class="navbar navbar-light">
      <span class="navbar-brand mb-0 h1 navText"><h1>Come In!</h1></span>
    </nav>
  </div>
      {% block pagecontent %}
      {% endblock %}
  </body>
</html>
